<p id="notice"><%= notice %></p>

<h1>Sales Reports</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Net sales</th>
      <th>Open ticket sales</th>
      <th>Closed ticket sales</th>
      <th>Deposit</th>
      <th>Tickets created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales_reports.each do |sales_report| %>
      <tr>
        <td><%= sales_report.date %></td>
        <td><%= sales_report.net_sales %></td>
        <td><%= sales_report.open_ticket_sales %></td>
        <td><%= sales_report.closed_ticket_sales %></td>
        <td><%= sales_report.deposit %></td>
        <td><%= sales_report.tickets_created %></td>
        <td><%= link_to 'Show', sales_report %></td>
        <td><%= link_to 'Edit', edit_sales_report_path(sales_report) %></td>
        <td><%= link_to 'Destroy', sales_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sales Report', new_sales_report_path %>
